@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.m{
    height: 140vh;
    padding-top: 13vh;
}

.hero {
    background-image: url("../../images/hero banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container{
    height: 60%;
    width: 30%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-title { 
    margin-bottom: 10px; 
    font-size: 52px;
    font-weight: 100;
    font-family: 'Recursive', sans-serif;
}

.hero-title > strong { 
    display: block; 
    font-family: 'Recursive', sans-serif;  
    font-weight: 700;  
}

.hero-text{
    line-height: 25px;
    font-size: 17px;
    font-weight: 400;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.shop{
    height: 50px;
    width: 170px;
    display: flex;
    flex-direction: row;
    background-color: #FF6E61;
    border: none;
}

.shop:hover{
    background-color: #ff6e61ca;
    cursor: pointer;
}

.shop-now{
    font-size: 18px;
    margin: 12px 0px;
    margin-left: 35px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.shop > ion-icon{
    margin-top: 18px;
    margin-left: 6px;
    color: white;
}

.collections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px 0px;
}

.collection-card{
    height: 350px;
    width: 450px;
    margin: 0px 0px;
    background-size: cover;
    background-position: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    font-size: 30px;
}

.explore{
    height: 40px;
    width: 130px;
    margin-bottom: 15px;
    font-size: 16px;
    background: transparent;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.explore:hover{
    background-color: rgba(33, 33, 33, 0.111);
    cursor: pointer;
}

@media screen and (max-width:880px) {
    .m{
        width: 100%;
        height: 225vh;
    }

    .hero{
        background-image: none;
        background-color: rgb(213, 208, 208);
        background-clip: unset;
        width: 100%;
        padding-left: 5px;
        height: 60vh;
    }

    .container{
        width: 100%;
        margin: 0px 0px;
        color: black;
        opacity: 1;
    }

    .hero-title{
        font-size: 40px;
    }

    .hero-text{
        font-size: 15px;
        width: 85%;
        line-height: 30px;
    }

    .collections{
        flex-direction: column;
        margin-left: 5%;
    }

    .collection-card{
        width: 90%;
        margin: 10px 0px;
    }
}

