@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bs {
    height: 75vh;
}

.bs-title {
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0px;
}

.brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shoe-brand {
    margin: 30px 15px;
    height: 35px;
    border-radius: 30px;
    width: 70px;
    border: 1px solid rgb(213, 207, 207);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: white;
    font-size: 15px;
}

.shoe-brand:nth-child(1) {
    width: 55px;
}

.shoe-brand:nth-child(3) {
    width: 90px;
}

.shoe-brand:hover {
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    margin-top: 10px;
}

.card p {
    margin-top: 5px;
}

.pl-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width:880px) {
    .bs{
        width: 100%;
        width: 100%;
        height: 245vh;
    }

    .bs-title{
        font-size: 30px;
    }

    .pl-list{
        flex-direction: column;
        align-items: center;
    }

    .shoe-brand{
        margin: 10px 10px;
        width: 60px;
        font-size: 13px;
    }

    .shoe-brand:nth-child(1){
        width: 45px;
    }

    .shoe-brand:nth-child(3){
        width: 80px;
    }

}

