@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.f {
    height: 70vh;
}

.f-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-title {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 150px;
}

.social-list {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
}

.social-list>li {
    list-style: none;
}

.social-list>li:nth-child(4) {
    margin-right: 150px;
}

.social-link>ion-icon {
    height: 23px;
    width: 23px;
    color: rgb(68, 66, 66);
    margin: 8px 8px;
    background: rgb(231, 228, 228);
    padding: 10px 10px;
    border-radius: 50%;
}

.social-link>ion-icon:hover {
    color: white;
    background: #ff6e61ca;
}

.line {
    border-bottom: 1px solid rgba(176, 176, 176, 0.605);
    margin: 50px 150px;
}

.footer-list {
    display: flex;
    flex-direction: row;
}

.footer-left {
    flex: 1;
    margin-left: 140px;
}

.footer-middle {
    flex: 1;
}

.footer-right {
    flex: 1;
    margin-right: 150px;
}

.f-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 22vw;
}

.footer-list-title {
    font-size: 25px;
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    margin: 0px 0px;
}

.f-line {
    border-top: 2px solid #FF6E61;
    width: 60px;
    margin-bottom: 40px;
}

.footer-link {
    margin: 5px 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.f-link-text {
    color: rgb(81, 80, 80);
    font-weight: 500;
}

.footer-link>ion-icon {
    color: #FF6E61;
    margin-right: 15px;
    height: 20px;
    width: 20px;
}

.newsletter-text {
    font-weight: 500;
    line-height: 2;
}

.newsletter-form>input {
    border: none;
    height: 50px;
    background: rgba(220, 218, 218, 0.919);
    width: 250px;
    padding-left: 10px;
    font-weight: 600;
}

.newsletter-form>button {
    background: #FF6E61;
    border: none;
    height: 50px;
    width: 120px;
    color: white;
    font-weight: 600;
}

.newsletter-form>button:hover {
    background: #ef8177;
}

.footer-bottom {
    margin-top: 86px;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    width: 100%;
    background-color: #11151d;
}

.copyright {
    color: white;
    font-size: 20px;
}

.copyright-link {
    display: inline-block;
    color: #FF6E61;
    font-size: 20px;
    text-decoration: none;
}

@media screen and (max-width:880px) {
    .f{
        width: 100%;
        height: 118vh;
        background: rgb(239, 239, 239);
    }

    .f-head{
        flex-direction: column;
    }

    .f-title{
        margin: 0px 0px;
        margin-left: 15px;
    }

    .social-list{
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
        padding: 0px 10px;
    }

    .f-socials{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .social-list:nth-child(4){
        margin-right: 0px;
    }

    .footer-list{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer-left{
        margin:0px 0px;
    }

    .line{
        margin:25px 40px;
    }

    .f-line{
        margin-bottom: 20px;
    }

    .f-list{
        width: 100%;
        display: flex;
        margin: 0px 0px;
    }

    .footer-list-title{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .footer-right{
        margin: 0px 30px;
    }

    .newsletter-form>input{
        width: 210px;
        height: 40px;
    }

    .newsletter-form>button{
        width: 90px;
        height: 40px;
    }

    .footer-bottom{
        margin-top: 65px;
        padding:10px 0px;
        height: 50px;
    }

    .copyright,
    .copyright-link{
        font-size: 17px;
    }

}